[Unit]
Description="Message Transmitter"
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/alerter

[Install]
WantedBy=multi-user.target
